<div id="post-form" class="card text-white bg-secondary mx-auto w-50 my-3 {{task}}">
    <div class="card-header ">
        <h4>{{task}} Post</h4>
    </div>

    <div class="card-body">
        <div class="px-4 py-3">
            {{#if edit}}
            <div class="mb-3">
                <label for="post-title" class="form-label">Post Title</label>
                <input type="text" class="form-control" id="post-title" placeholder="Title" value="{{post.title}}">
            </div>

            <div class="mb-3">
                <label for="post-body" class="form-label">Post</label>
                <textarea class="form-control" id="post-body" placeholder="Post">{{post.body}}</textarea> 
            </div>

            <button id="{{task}}Btn" type="click" class="btn btn-dark">{{task}}</button>
            
            <button id="deleteBtn" type="click" class="btn btn-dark">Delete</button>

            {{else}}
            <div class="mb-3">
                <label for="post-title" class="form-label">Post Title</label>
                <input readonly type="text" class="form-control" id="post-title" placeholder="Title" value="{{title}}">
            </div>

            {{#if (eq task "details")}}
                <div class="mb-3">
                    <label for="post-body" class="form-label">Post</label>
                    <textarea readonly class="form-control" id="post-body" placeholder="Post">{{body}}</textarea> 
                
            {{else}}
                <div class="mb-3"></div>
                    <label for="post-title" class="form-label">Created At</label>
                    <input readonly type="text" class="form-control" id="post-created_at" placeholder="Post created at: Date/Time" value="{{createdAt}}">
                </div>
            {{/if}}

            {{/if}}
        </div>
    </div>

</div>